@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "~bootstrap/scss/_variables.scss";

$bgMain: url("../../images/bg_header.jpg") repeat fixed;
$bgMainMobile: url("../../images/bg_header.jpg") repeat 100%;

body {
     font-family: Roboto, sans-serif!important;
}

.content {
     min-height: calc(100vh - 88px);
}

.undecorated {
     text-decoration: none;

     &:hover {
          text-decoration: none;
     }
}

.wrapper-clear {
     #header {
          height: 100px;
          background: $bgMain;
          background: {
               position-y: -400px;
          };
     }

     #header a {
          text-decoration: none;
     }

     footer {
          background:    $bgMain;
          background: {
               position: bottom;
          };
     }
}

.wrapper-home {
     #promo {
          position: relative;
          height: 100vh;
          background: #000 url("../../images/promo_bg.jpeg") no-repeat fixed;
          background-size: 100% 100%;
          z-index: -2;

          @media screen and (max-device-width: map-get($grid-breakpoints, 'sm')){
               background: $bgMain;
               height: 400px;
          }

          .fg-promo {
               position: fixed;
               background: url("../../images/promo_fg.png") no-repeat;
               background-attachment: inherit;
               background-size: 100% 100%;
               height: inherit;
               width: 100%;

               @media screen and (max-device-width: map-get($grid-breakpoints, 'sm')){
                    display: none;
               }
          }
          .container-fluid {
               position: fixed;
               height: inherit;

               h1 {
                    border-bottom: 1px solid white;
                    display: block;
                    font-size: 64pt;
                    font-weight: 100;

                    @media screen and (max-device-width: map-get($grid-breakpoints, 'sm')){
                         font-size: 24pt;
                    }
               }

               h4 {
                    font-weight: 100;
               }
          }
     }

     #skills {
          display: block;
          box-shadow: 10px 10px grey;

          #projects {
               a {
                    color: black;
                    transition: background-color 0.2s;
               }
               a:hover {
                    text-decoration: none;
                    background-color: aliceblue;
                    transition: background-color 0.2s;
               }
          }
     }

     #source {
          background: #00b3ee url("../../images/gh_code.jpg") no-repeat fixed;
          background-size: cover;

          .container {
               padding: 100px 0;

               h3 {
                    border-bottom: 1px solid white;
                    display: block;
                    font-size: 28pt;
                    font-weight: 100;
               }
               h4 {
                    font-weight: 100;
               }
          }
     }

     #contacts {
          h3 {
               border-bottom: 1px solid white;
               display: block;
               font-size: 28pt;
               font-weight: 100;
          }
          h4 {
               font-weight: 100;
          }
     }


     #particles-js {
          position: fixed;
          width: 100%;
          height: 100%;

          canvas {
               position: inherit;
          }
     }
}

.icon {
     background-color: #fff;
     display: block;
     width: 90px;
     height: 90px;
     border: 4px solid white;
     border-radius: 100%;
     background-size: 100%;
}

.icon-bg {
     @extend .icon;
     width: 200px;
     height: 200px;
     border: 4px solid darkblue;
     padding: 2px;
}

.icon-avatar {
     background-image: url("../../images/icon_avatar.jpg");
     background-size: 170%;
     background-position-x: -60px;
}

.icon-fb {
     background-image: url("../../images/icon_fb.png");
}

.icon-tm {
     background-image: url("../../images/icon_tm.png");
}

.icon-ln {
     background-image: url("../../images/icon_ln.png");
}

.icon-hb {
     background-image: url("../../images/icon_hb.png");
}

.icon-ml {
     background-image: url("../../images/icon_ml.png");
}