$bgMain: url("/storage/bg_header.jpg") repeat fixed;
$bgMainMobile: url("/storage/bg_header.jpg") repeat 100%;

.fill-horizontal {
  width: 100%;
}
.fill-vertical {
  height: 100%;
}
.content {
  min-height: calc(100vh - 88px);
}

.text-prepeared {
  font-family: Roboto;
};

.undecorated {
  text-decoration: none;
}
.undecorated:hover {
  text-decoration: none;
}

.wrapper-clear {
  #header {
    height: 100px;
    background: $bgMain;
    background: {
      position-y: -400px;
    };
  }

  #header a {
    text-decoration: none;
  }

  footer {
    background:  $bgMain;
    background: {
      position: bottom;
    };
  }
}

.wrapper-home {
  background: $bgMain;

  #projects {
    a {
      color: black;
      transition: background-color 0.2s;
    }
    a:hover {
      text-decoration: none;
      background-color: aliceblue;
      transition: background-color 0.2s;
    }
  }

  #particles-js {
    position: absolute;
    width: 100%;
    min-height: 100%;
    canvas {
      position: inherit;
    }
  }

  .content {
    position: relative;
    min-height: calc(100vh - 32px);
  }
}

.icon {
  display: block;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border: 4px solid white;
  border-radius: 100%;
  background-size: 100%;
}

.icon-bg {
  @extend .icon;
  width: 200px;
  height: 200px;
  border: 4px solid darkblue;
  padding: 2px;
}

.icon-avatar {
  background-image: url("/storage/icon_avatar.jpg");
  background-size: 170%;
  background-position-x: -60px;
}

.icon-fb {
  background-image: url("/storage/icon_fb.png");
}

.icon-tm {
  background-image: url("/storage/icon_tm.png");
}

.icon-ln {
  background-image: url("/storage/icon_ln.png");
}

.icon-hb {
  background-image: url("/storage/icon_hb.png");
}

.icon-ml {
  background-image: url("/storage/icon_ml.png");
}

@media screen and (max-device-width: 800px) {
  #header, .wrapper-home {
    background: $bgMainMobile;
    background-position-y: 0;
  }
}